@font-face {
  font-family: "Georgia";
  src: local("Georgia"), url("assets/fonts/fonts/Georgia.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Georgia";
  src: local("Georgia Bold"), url("assets/fonts/fonts/Georgia-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Georgia";
  src: local("Georgia Italic"), url("assets/fonts/fonts/Georgia-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Georgia";
  src: local("Georgia Bold Italic"),
    url("assets/fonts/fonts/Georgia-BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
}

html,
body {
  padding: 0;
  margin: 0;
  background: #fff;
  color: #000;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  box-sizing: border-box;
  outline: none;
}

.sales-app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.sales-view {
  flex: 1 1 auto;
}

/* Toastr */

.toastr {
  background-color: transparent !important;
  box-shadow: none !important;
  max-width: calc(100vw - 30px) !important;
  border-radius: 0 !important;
  opacity: 1 !important;
  overflow: initial !important;
}

.toastr .rrt-left-container {
  display: none !important;
}
.toastr .rrt-middle-container {
  padding: 0 !important;
  width: 100% !important;
  margin: 0 !important;
  max-width: calc(100vw - 40px) !important;
}

.top-center,
.top-center .toastr,
.bottom-center,
.bottom-center .toastr {
  width: 1028px !important;
}

.top-center,
.bottom-center {
  margin-left: 0 !important;
  transform: translateX(-50%) !important;
  max-width: calc(100vw - 20px);
}

.toastr .rrt-title {
  background: white !important;
}

.toastr.rrt-message {
  background: white !important;
}

/* order page */

.bg {
  background: #fafafa;
  overflow: hidden;
}

.container {
  width: 900px;
  max-width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
}

@media (max-width: 992px) {
  .container {
    padding: 0 20px;
  }
}

.header {
  height: 50px;
  background: #394451;
  display: flex;
  justify-content: center;
}

.info_header {
  font-family: Arial, serif;
  margin: auto;
  font-size: 16px;
  font-weight: 400;
  color: #fff;
}

.info_header img {
  width: 15px;
  margin-right: 8px;
  margin-bottom: -2px;
}

/* description product */

.bgContainer {
  background: white;
  position: relative;
  padding: 30px 0;
  margin: 50px 0;
}

.bgContainer:after,
.bgContainer:before {
  content: "";
  background: white;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
}

.bgContainer:after {
  left: -100%;
}

.bgContainer:before {
  right: -100%;
}

.italic {
  font-family: "Georgia", serif;
  font-style: italic;
}

.bold {
  font-family: "Georgia", serif;
  font-weight: bold;
}

.noLineBrake {
  white-space: nowrap;
}

.underline {
  font-family: "Georgia", serif;
  text-decoration: underline;
}

.filled {
  font-family: "Georgia", serif;
  background: #ffea82;
  display: inline-block;
  padding: 0 7px;
}

.text {
  font-family: "Georgia", serif;
  font-size: 20px;
  line-height: 36px;
  letter-spacing: 0.01em;
  color: #212b36;
}

.contrastColor {
  font-family: "Georgia", serif;
  color: #00589f;
}

.topHeader {
  font-family: "Georgia", serif;
  font-size: 28px;
  line-height: 42px;
  color: #000000;
  text-align: center;
}

.hero {
  display: flex;
  background: #ebffca;
  margin: 50px 0;
}

.heroImg {
  height: 100%;
  width: 100%;
  object-fit: cover;
  margin: -10px 0;
}

.heroText {
  font-family: Arial;
  font-style: normal;
  font-weight: bold;
  font-size: 42px;
  line-height: 55px;
  color: #000000;
  padding: 0 60px;
  margin: 30px 0 20px 0;
}

.bigText {
  font-family: Arial, serif;
  font-weight: bold;
  font-size: 32px;
  line-height: 48px;
  color: #000000;
}

.bigText .italic {
  font-family: Arial, serif;
}

.advantagesContainer {
  display: grid;
  grid-template-columns: 35% 65%;
  align-items: center;
}

.advantagesItem:first-of-type {
  text-align: center;
  margin-left: -130px;
}

.advantagesImg {
  position: relative;
  z-index: 1;
}

.advantagesImgPosition {
  top: 40px;
}

.specialContainer {
  display: flex;
  margin: 200px 0 100px;
  position: relative;
}

.bigArrowImg {
  position: absolute;
  left: 50%;
  top: -120px;
  transform: translateX(-50%);
}

.specialItem {
  position: relative;
  width: 50%;
}

.specialBigText {
  font-family: "Georgia", serif;
  font-weight: bold;
  font-style: italic;
  font-size: 100px;
  line-height: 114px;
  margin: 0;
  letter-spacing: 5px;
  color: #001736;
}

.specialBigText span {
  font-style: italic;
  font-weight: 900;
}

.specialItem .text {
  font-size: 28px;
  line-height: 48px;
  color: #000000;
}

.devicesImg {
  margin-left: -70px;
}

.specialItemBadge {
  position: absolute;
  right: -90px;
  top: -35px;
  overflow: hidden;
}
.specialItemBadge:after {
  content: "";
  position: absolute;
  height: 180px;
  width: 20px;
  left: -40px;
  top: -20px;
  background: rgba(255, 255, 255, 0.6);
  transform: rotate(20deg);
  animation: btnFlare 3s ease-in-out 1s infinite;
}
@keyframes btnFlare {
  0% {
    left: -40px;
  }
  10% {
    left: 400px;
  }
  100% {
    left: 400px;
  }
}

.specialItemBadge img {
  width: 100%;
}

.guarantee {
  background: white;
  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.35);
  padding: 55px 60px 40px 60px;
  position: relative;
  margin-bottom: 50px;
  width: calc(100% + 150px);
  margin-left: -75px;
  margin-top: 100px;
  z-index: 1;
}

.guarantee:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: calc(100% - 20px);
  width: calc(100% - 20px);
  border: 8px solid #d6d6d6;
  box-sizing: border-box;
  pointer-events: none;
}

.guaranteeTitle,
.guaranteeTitle .noLineBrake {
  font-family: "Georgia", serif;
  font-size: 42px;
  line-height: 63px;
  text-align: center;
  text-decoration-line: underline;
  color: #000000;
  margin-top: 0;
  text-shadow: 0px 5px 14px rgba(2, 25, 65, 0.25);
}

.guaranteeImg {
  float: right;
  max-width: 250px;
  padding: 30px 0;
}

.testimonialTitle {
  font-family: "Georgia", serif;
  font-weight: bold;
  font-size: 28px;
  line-height: 32px;
  text-align: center;
}

.testimonial {
  background: white;
  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.35);
  padding: 55px 60px 40px 50%;
  position: relative;
  margin: 0 auto 50px auto;
  min-height: 500px;
  box-sizing: border-box;
  z-index: 1;
}

.clientImg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: calc(100% - 25px);
  width: calc(100% - 25px);
  object-fit: cover;
  z-index: 1;
}

.clientNameWrapper {
  text-align: right;
}

.clientName {
  font-family: Arial;
  font-style: italic;
  font-size: 28px;
  line-height: 48px;
  color: #636363;
  position: relative;
  display: inline-block;
}

.clientName:before {
  content: "";
  height: 2px;
  width: 25px;
  background: #636363;
  position: absolute;
  left: -40px;
  top: calc(50% - 2px);
}

@media (max-width: 1100px) {
  .devicesImg {
    margin-left: -100px;
  }

  .specialItemBadge {
    right: -40px;
  }

  .guarantee {
    width: 100%;
    margin-left: 0;
  }
}

@media (max-width: 992px) {
  .hero {
    flex-direction: column;
    margin: 20px 0;
    padding-top: 20px;
  }

  .heroImg {
    max-width: 300px;
    margin: 0 auto;
  }

  .heroText {
    font-size: 32px;
    line-height: 42px;
    padding: 0 10px;
  }

  .advantagesContainer {
    grid-template-columns: 35% 65%;
    gap: 30px;
  }

  .advantagesItem:first-of-type {
    margin-left: -50px;
  }

  .specialBigText {
    font-size: 80px;
    line-height: 90px;
  }

  .testimonial {
    padding: 5px;
    min-height: initial;
  }

  .clientImg {
    position: relative;
    top: 0;
    left: 0;
    transform: translate(0);
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}

@media (max-width: 768px) {
  .bigText {
    font-size: 24px;
    line-height: 36px;
  }
  .advantagesContainer {
    grid-template-columns: 100%;
    gap: 0;
  }

  .advantagesItem:first-of-type {
    margin-left: 0;
  }

  .bigArrowImg {
    display: none;
  }

  .specialContainer {
    margin: 60px 0;
    flex-direction: column;
  }

  .specialItem {
    width: 100%;
  }

  .devicesImg {
    max-width: 100%;
    margin: 0;
  }

  .guarantee {
    padding: 30px 40px;
  }

  .guaranteeImg {
    float: none;
    margin: 0 auto;
    display: block;
    padding: 0;
  }

  .guaranteeTitle,
  .guaranteeTitle .noLineBrake {
    font-size: 32px;
    line-height: 42px;
  }

  .advantagesImgPosition {
    top: 0;
  }
}

@media (max-width: 480px) {
  .advantagesImg {
    max-width: 100%;
  }

  .specialBigText {
    font-size: 50px;
    line-height: 60px;
  }

  .topHeader {
    font-size: 18px;
    line-height: 28px;
  }

  .heroText {
    font-size: 22px;
    line-height: 29px;
  }

  .bigText {
    font-size: 22px;
    line-height: 33px;
  }

  .devicesImg {
    margin-left: -90px;
    width: 150%;
    max-width: initial;
  }

  .specialItemBadge {
    right: 20px;
  }

  .guaranteeImg {
    display: none;
  }

  .guaranteeTitle,
  .guaranteeTitle .noLineBrake {
    font-size: 20px;
    line-height: 33px;
  }

  .guarantee {
    padding: 40px 30px;
  }

  .guarantee:after {
    height: calc(100% - 20px);
    width: calc(100% - 20px);
    border: 2px solid #d6d6d6;
  }
}

/* form */

.formWrapper {
  margin: 50px 0 20px;
}

.heading {
  color: black;
  font-weight: 900;
  font-size: 40px;
  margin: 40px 0 20px;
}

.smallHeader {
  font-family: Arial, serif;
  font-weight: 700;
  font-size: 28px;
  line-height: 36px;
  text-align: center;
  color: #000000;
}

.submit {
  width: 100%;
  max-width: 340px;
  height: 70px;
  font-weight: 700;
  font-size: 22px;
  letter-spacing: 0.04px;
  background: linear-gradient(180deg, #59931f 2.73%, #346800 95.49%);
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.3);
  box-sizing: border-box;
  border-radius: 6px;
  border: none;
  text-transform: uppercase;
  margin: -140px auto 130px auto;
}
.submit:after,
.submit:before {
  display: none;
}
.submit:hover,
.submit:active,
.submit:focus {
  background: linear-gradient(180deg, #406b15 2.73%, #244701 95.49%);
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.3);
  border-radius: 6px;
}

/* Labels */

.success {
  position: fixed;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  padding: 18px 40px;
  border-radius: 4px;
  background: #249b56;
  filter: drop-shadow(0px 5px 12px rgba(36, 155, 86, 0.4));
  color: white;
  font-weight: 600;
  font-size: 18px;
  width: calc(100% - 40px);
  max-width: 850px;
  z-index: 100;
}

.success img {
  margin-right: 10px;
}

.error {
  position: fixed;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  padding: 18px 40px;
  border-radius: 4px;
  background: #cc0033;
  filter: drop-shadow(0px 5px 12px rgba(36, 155, 86, 0.4));
  color: white;
  font-weight: 600;
  font-size: 18px;
  width: calc(100% - 40px);
  max-width: 850px;
  z-index: 100;
}

.error span::first-letter {
  text-transform: uppercase;
}

.error img {
  margin-right: 10px;
}

@media (max-width: 992px) {
  .heading {
    font-size: 30px;
  }
}

@media (max-width: 600px) {
  .heading {
    font-size: 24px;
  }
}

@media (max-width: 480px) {
  .submit {
    max-width: 90%;
    font-size: 18px;
    height: 68px;
    padding-bottom: 2px;
    margin: -120px auto 90px auto;
  }

  .formWrapper {
    margin: 35px 0 20px;
  }
}

.subscription-container {
  width: 100%;
  display: grid;
  gap: 35px;
}

@media (max-width: 992px) {
  .subscription-container {
    gap: 30px;
  }
}
@media (max-width: 600px) {
  .subscription-container {
    gap: 20px;
  }
}

/* subscription card */

.subscription-card {
  position: relative;
  width: 100%;
  max-width: 530px;
  background: #ffffff;
  border: 2px dashed black;
  box-sizing: border-box;
  border-radius: 6px;
  transition: all 150ms ease-in-out;
  cursor: pointer;
  margin: 0 auto;
  display: flex;
}
.subscription-card:active {
  transform: scale(0.99);
}

.checkbox {
  display: block;
  height: 100%;
  padding: 30px 0 0 0;
  margin-left: -5px;
  width: 15%;
  background: #fafafa;
}

.subscription-titleAndPrice {
  padding-left: 8px;
  border-left: 1px solid #d8d8d8;
}
.subscription-info {
  padding: 30px 20px 0 0;
}
.subscription-title {
  text-align: start;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
  color: #000000;
  position: relative;
  top: -5px;
  padding-left: 10px;
}
.subscription-subtitle {
  font-weight: 800;
  font-size: 20px;
  color: #c53131;
  text-align: start;
  display: none;
}

.subscription-prices {
  display: block;
  text-align: left;
  margin-left: 10px;
}
.subscription-price {
  font-family: Arial, serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  text-transform: uppercase;
  color: #979797;
  margin-bottom: 15px;
}
.subscription-originalPrice {
  font-weight: 500;
  font-size: 14px;
  color: #979797;
  text-decoration: line-through;
  text-decoration-color: #c53131;
  letter-spacing: 1px;
  display: none;
}

.subscription-label {
  position: absolute;
  right: -50px;
  top: -20px;
  transform: rotate(44.65deg);
  width: 140px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  transition: all 150ms ease-in-out;
  padding: 10px;
  font-weight: 800;
  font-size: 12px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #ffffff;
  display: none;
}

@media (max-width: 600px) {
  .subscription-info {
    padding: 15px 0 0 0;
  }
  .subscription-card {
    padding: 0 5px;
  }
  .subscription-title {
    font-size: 12px;
    line-height: 16px;
    padding-left: 0;
  }
  .subscription-subtitle {
    font-size: 14px;
  }
  .subscription-label {
    right: -60px;
    top: -25px;
    font-size: 10px;
  }
  .subscription-price {
    font-size: 12px;
    margin-bottom: 5px;
  }
  .subscription-prices {
    margin-left: 0;
  }
  .subscription-checkbox {
    padding-top: 15px;
  }
}

@media (max-width: 420px) {
  .subscription-title {
    font-size: 10px;
  }

  .subscription-checkbox {
    width: 12%;
  }
}

@media (max-width: 400px) {
  .subscription-card {
    padding: 0 0 0 5px;
    min-height: initial;
  }
  .subscription-info {
    padding: 20px 10px 0 0;
  }
  .subscription-title {
    font-size: 10px;
    padding-left: 0;
  }
  .subscription-subtitle {
    font-size: 12px;
  }
  .subscription-prices {
    margin-left: 0;
  }
  .subscription-checkbox {
    padding-top: 25px;
  }
}

@media (max-width: 345px) {
  .subscription-checkbox {
    width: 10%;
    padding-top: 20px;
  }
  .subscription-checkbox img {
    width: 15px;
  }
  .subscription-title {
    font-size: 8px;
    line-height: 10px;
  }
  .subscription-price {
    font-size: 10px;
    line-height: 16px;
  }
}

.wrapper {
  position: relative;
}

.form {
  background: #ffffff;
  border: 1px solid rgba(185, 187, 197, 0.6);
  box-sizing: border-box;
  box-shadow: 0px 4px 20px rgba(0, 88, 159, 0.3);
  border-radius: 6px;
  padding: 30px 355px 20px 355px;
  width: calc(100% + 150px);
  margin-left: -75px;
  margin-top: 35px;
  overflow: hidden;
}

.form-topTitle {
  font-family: Arial, serif;
  text-align: center;
  font-size: 32px;
  line-height: 42px;
}

.form-arrowImgWrapper {
  position: relative;
  text-align: center;
  margin-bottom: 30px;
}

.form-arrowImgWrapper:after {
  content: "";
  position: absolute;
  top: 20px;
  left: -470px;
  height: 2px;
  width: 600px;
  background: #f3f3f3;
}

.form-arrowImgWrapper:before {
  content: "";
  position: absolute;
  top: 20px;
  right: -470px;
  height: 2px;
  width: 600px;
  background: #f3f3f3;
}

.form-arrowImgWrapper img {
  animation: arrowAnim 2s ease-in-out 0s infinite;
}

@keyframes arrowAnim {
  0% {
    transform: translateY(5px);
  }
  50% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(5px);
  }
}

.formCvc {
  display: grid;
  grid-template-columns: minmax(120px, 130px) 1fr 1fr;
  align-items: center;
}

.formCvc :global .message-error {
  min-width: 220px;
}

.CbHosted {
  display: flex;
  align-items: center;
}

/* .payment-input {
  display: flex;
  align-items: center;
  cursor: text;
} */
.requireText {
  font-family: Arial, serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  position: relative;
  padding-left: 20px;
  margin-top: 15px;
}

.requireText:before {
  content: "";
  position: absolute;
  height: 100%;
  width: 9px;
  background: #59931f;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  left: 0;
  top: 0;
}

.formDouble {
  margin-top: 5px;
}

.formDouble > div {
  margin-bottom: 5px;
}

@media (max-width: 1050px) {
  .form {
    padding: 30px 200px 200px 200px;
    width: 100%;
    margin-left: 0;
  }
}

@media (max-width: 992px) {
  .form {
    padding: 25px 40px 200px 40px;
  }
}

@media (max-width: 768px) {
  .arrowImgWrapper:after,
  .arrowImgWrapper:before {
    width: 700px;
  }
}

@media (max-width: 600px) {
  .form {
    padding: 20px 20px 175px 20px;
    margin-top: 20px;
  }

  .formDouble {
    grid-template-columns: 1fr;
    gap: 0px;
  }

  .arrowImgWrapper:after,
  .arrowImgWrapper:before {
    width: 570px;
  }

  .topTitle {
    font-size: 22px;
    line-height: 28px;
  }
}

/* input */

.input-column {
  display: flex;
  flex-direction: column;
  margin-bottom: 5px;
}

.input-wrapper {
  position: relative;
  display: flex;
}

.input {
  font-style: normal;
  font-weight: 400;
  width: 100%;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
}

/* Styles */

.primary {
  font-family: Arial, sans-serif;
  color: #10182f;
  background: #f2f5f7;
  border: 1px solid #ced0da;
  border-radius: 4px;
}

.secondary {
  background: #f7f7f7;
  border: 0.7px solid #c7c7c7;
  border-radius: 4px;
}

.alternative {
  border: 0;
  background: #ffffff;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.10077);
  color: #000;
  font-style: normal;
  font-weight: normal;
}

.input:disabled {
  opacity: 0.5;
}

/* Placeholder */

.primary::placeholder {
  color: #757575;
}

.secondary::placeholder {
  color: #a6a6a6;
}

.alternative::placeholder {
  color: #757575;
}

/* Sizes */

.large {
  height: 62px;
  font-size: 24px;
  padding: 0 28px;
}
.big {
  height: 56px;
  font-size: 16px;
  padding: 0 22px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.05);
}
.medium {
  height: 42px;
  font-size: 14px;
  padding: 0 14px;
}
.small {
  height: 32px;
  font-size: 11px;
  padding: 0 10px;
}

/* Focus */
.primary:focus {
  border: 1px solid #009de9;
}

/* Hover */
.primary:hover {
  border: 1px solid #009de9;
}

/* Status */

.input-warning {
  background: #fffcf7;
  border-color: #ffa600;
}

.input-error {
  background: #fef7f8;
  border-color: #c0392b;
}

/* State */

.required::before {
  content: "";
  width: 5px;
  height: 100%;
  background: #59931f;
  position: absolute;
  left: 0;
  top: 0;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

@media (max-width: 480px) {
  .big {
    height: 62px;
  }
}

/* label */

/* Label */

.label {
  font-family: Arial, serif;
  font-style: normal;
  font-weight: 400;
  color: #1e1e1e;
  margin-bottom: 6px;
}

/* Placement */

.left {
  text-align: left;
}
.center {
  text-align: center;
}
.right {
  text-align: right;
}

/* Sizes */

.label-large {
  font-size: 26px;
}
.label-big {
  font-weight: 600;
  font-size: 20px;
  line-height: 29px;
}
.label-medium {
  font-size: 14px;
}
.label-small {
  font-size: 12px;
}

/* message field */

.error-field .message-field {
  opacity: 1;
}

.message-field {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  font-style: normal;
  font-weight: normal;
  opacity: 0;
}

/* Appearances */

.message-field-default {
  color: black;
}
.message-field-error {
  font-family: Arial, sans-serif;
  color: #ed1c24;
  margin-top: 5px;
}
.message-field-warning {
  color: orange;
}
.message-field-success {
  color: green;
}

/* Placement */

.message-field-left {
  text-align: left;
}
.message-field-center {
  text-align: center;
}
.message-field-right {
  text-align: right;
}

/* Sizes */

.message-field-large {
  font-size: 14px;
  font-weight: 600;
  min-height: 24px;
  margin-bottom: 4px;
}
.message-field-big {
  font-size: 12px;
  min-height: 20px;
  margin-bottom: 3px;
}
.message-field-medium {
  font-size: 11px;
  min-height: 18px;
  margin-bottom: 2px;
}
.message-field-small {
  font-size: 9px;
  min-height: 14px;
  margin-bottom: 2px;
}

/* Icons */

.message-field-large img {
  height: 15px;
  width: 15px;
  margin-right: 5px;
  margin-bottom: -2px;
}
.message-field-big img {
  height: 13px;
  width: 13px;
  margin-right: 4px;
  margin-bottom: -2px;
}
.message-field-medium img {
  height: 12px;
  width: 12px;
  margin-right: 3px;
  margin-bottom: -2px;
}
.message-field-small img {
  height: 10px;
  width: 10px;
  margin-right: 2px;
  margin-bottom: -2px;
}

/* button */

.button {
  position: relative;
  font-style: normal;
  text-align: center;
  border: 0;
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1.2;
  cursor: pointer;
}
.button:disabled {
  cursor: default;
}

/* Appearances */
.button-primary {
  background: #f7f8fc;
  border: 1px solid #dae1f5;
  box-sizing: border-box;
  border-radius: 5px;
  color: #545d7a;
  font-weight: 600;
}
.button-secondary {
  background: linear-gradient(180deg, #ffffff 0%, #e7e7e7 100%);
  border: 1px solid #dae1f5;
  border-radius: 8px;
  color: #616161;
}
.button-white {
  background: #ffffff;
  border: 1.5px solid #dde4ea;
  border-radius: 3px;
  color: #000000;
  font-style: normal;
  font-weight: 600;
}
.button-success {
  padding-top: 3px !important;
  background: #59931f;
  color: #ffffff;
  border-radius: 6px;
  border-bottom: 3px solid #689f34;
  position: relative;
}
.button-success::after {
  content: "";
  position: absolute;
  width: calc(100% - 2px);
  top: 1px;
  right: 1px;
  left: 1px;
  background: #689f34;
  height: 11px;
  border-radius: 6px;
}

.button-success::before {
  content: "";
  position: absolute;
  width: calc(100% - 2px);
  top: 3px;
  right: 1px;
  left: 1px;
  background: #59941f;
  height: 10px;
  border-radius: 6px;
  z-index: 2;
}
.button-warning {
  background: #ac0000;
  border: 2px solid #8a0101;
  box-sizing: border-box;
  box-shadow: 0px 2px 0px #730000;
  border-radius: 3px;
  color: #ffffff;
  text-shadow: 0px -1px 1px #8a0101, 1px 0px 1px #8a0101, 0px 1px 1px #8a0101, -1px 0px 1px #8a0101;
}
.button-link {
  color: #2e4369;
  font-weight: 600;
}
.button-delete {
  text-decoration-line: underline;
  color: #ac0000;
  font-weight: 600;
}

/* Sizes */
.button-big {
  font-size: 16px;
  font-weight: 600;
  padding: 0 24px;
  height: 60px;
  gap: 14px;
}
.button-medium {
  font-weight: 600;
  font-size: 16px;
  padding: 0px 22px;
  height: 50px;
  gap: 12px;
}
.button-small {
  font-weight: 600;
  font-size: 14px;
  padding: 0 20px;
  height: 44px;
  gap: 10px;
}
.button-tiny {
  font-size: 12px;
  font-weight: 600;
  padding: 0 10px;
  height: 30px;
  gap: 8px;
  line-height: 1.6;
}

/* Disabled */
.primary:disabled {
  color: #b0b0b0;
  opacity: 0.2;
}
.secondary:disabled {
  background: linear-gradient(180deg, #ffffff 0%, #e7e7e7 100%);
  color: rgba(97, 97, 97);
  opacity: 0.2;
}

.success:disabled {
  background: #477b14;
  border-color: #477b14;
  color: rgba(206, 223, 210);
  opacity: 0.2;
}
.warning:disabled {
  opacity: 0.5;
}
.icon:disabled {
  text-decoration: underline;
}
.link:disabled {
  color: #b0b0b0;
}
.delete:disabled {
  color: #730000;
  opacity: 0.6;
}

/* Hover */
.primary:hover {
  opacity: 0.9;
  color: #48516d;
}
.secondary:hover {
  background: linear-gradient(180deg, #ffffff 0%, #d9d9d9 89.6%);
  border: 1px solid #b1bfe6;
}

.success:hover {
  background: #477b14;
  border-color: #477b14;
}

.success:hover::after,
.success:hover::before {
  opacity: 0;
}

.icon:hover {
  text-decoration: underline;
}
.link:hover {
  text-decoration: underline;
}

/* Focus */
.primary:focus {
  background: #ebf2f7;
  color: #48516d;
}
.secondary:focus {
  background: #477b14;
  border-color: #477b14;
  color: rgba(120, 143, 183, 0.7);
}

.success:focus {
  background: #75c496;
  border-color: #75c496;
  color: rgba(255, 255, 255, 0.5);
}
.success:focus::after,
.success:focus::before {
  opacity: 0;
}

.icon:focus {
  text-decoration: underline;
}
.link:focus {
  text-decoration: underline;
  filter: grayscale(20%);
  opacity: 0.8;
}
.delete:focus {
  text-decoration: underline;
  opacity: 0.8;
}

/* Active */

.secondary:active {
  background: linear-gradient(180deg, #ffffff 0%, #ced0da 89.6%);
  border: 1px solid #b1bfe6;
}

.success:active {
  border-color: #4b791c;
  background: #4b791c;
  color: white;
}

.icon:active {
  text-decoration: underline;
}
.link:active {
  color: #0073aa;
  border: 0;
  opacity: 0.8;
}
.delete:active {
  border: 0;
}

/* Loading */
.primary.loading {
  color: #0073aa;
}
.secondary.loading {
  color: #616161;
}
.success.loading {
  color: white;
}
.warning.loading {
  color: white;
}

.link.loading {
  color: #0073aa;
}

.loading::after,
.loading::before {
  opacity: 0;
}
/* Loader */

.loading {
  opacity: 0.9 !important;
  cursor: default;
}

.loader {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-left: 10px;
  margin-right: -5px;
  flex: 1 1 auto;
}

.loader div {
  transform: scale(1) !important;
  animation: rotate 800ms infinite linear;
}

.centerLoader {
  padding: 0 10px !important;
  margin-right: 0 !important;
}

.centerLoader {
  justify-content: center;
}

.medium .centerLoader {
  height: 20px;
}
.small .centerLoader {
  height: 18px;
}

/* Icons */

.button img {
  margin: auto 0;
}

.loadingImg {
  width: 38px;
  animation: rotate 3s ease infinite;
}

/* Animations */

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.form .button-big {
  width: 100%;
  max-width: 340px;
  height: 70px;
  font-weight: 700;
  font-size: 22px;
  letter-spacing: 0.04px;
  background: linear-gradient(180deg, #59931f 2.73%, #346800 95.49%);
  box-shadow: 0 4px 12px rgb(0 0 0 / 30%);
  box-sizing: border-box;
  border-radius: 6px;
  border: none;
  text-transform: uppercase;
  margin: 20px auto;
}

/* secure section */

.secure-container {
  text-align: center;
  margin-top: 60px;
}

.secure-title {
  font-weight: 400;
  font-size: 26px;
  line-height: 1.2;
}

.secure-text {
  font-family: Arial, serif;
  margin-top: 40px;
  font-size: 12px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0.01em;
  width: calc(100% + 150px);
  margin-left: -75px;
  color: #7d7d7d;
}

.secure-securityGrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 40px;
  margin: 100px 0 40px 0;
  padding-bottom: 30px;
  border-bottom: 1px solid #c4c4c4;
}

.secure-gridItem {
  display: grid;
  grid-template-columns: 40px 1fr;
  gap: 20px;
}

.secure-securityText {
  font-weight: 300;
  font-size: 18px;
  line-height: 28px;
  margin-top: 12px;
  word-break: break-all;
}

.secure-securityBadge {
  text-align: center;
  margin: 30px 0;
}

.secure-lockSubtitle {
  font-family: Arial, serif;
  background: #fafafa;
  display: block;
  width: 300px;
  margin: 0 auto;
  padding: 20px;
  position: relative;
}

.secure-securityImg {
  border: 2px solid rgba(34, 34, 34, 0.75);
  border-radius: 2px;
  box-sizing: border-box;
  padding: 25px 45px;
  max-width: 790px;
  width: 100%;
  margin-top: -30px;
}

.secure-link {
  font-family: Arial, serif;
  text-decoration: underline;
  color: #7d7d7d;
}

@media (max-width: 1250px) {
  .secure-text {
    width: 100%;
    margin-left: 0;
  }
}

@media (max-width: 992px) {
  .secure-securityGrid {
    grid-template-columns: 1fr;
  }
  .secure-title {
    font-size: 22px;
  }
  .secure-text {
    font-size: 16px;
  }
  .secure-lockSubtitle {
    padding: 0;
    margin: 20px auto;
    width: 250px;
  }
}

@media (max-width: 600px) {
  .secure-title {
    font-size: 20px;
  }
  .secure-text {
    font-size: 14px;
  }
  .secure-gridItem {
    gap: 10px;
  }
  .secure-securityImg {
    padding: 20px 15px;
  }
}

/* footer */

.footer {
  position: relative;
  text-align: center;
  padding: 20px 0;
}

.footer-info {
  font-family: Arial, serif;
  color: #7d7d7d;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0.01em;
}
